<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="GtV Login">
		<setting id="User" type="text" label="[COLORgreen]GenieTv User =[/COLOR]" default="[COLORgold]Username[/COLOR]" visible="true"/>
		<setting id="Pass" type="text" label="[COLORgreen]GenieTv Pass =[/COLOR]" default="[COLORgold]Password[/COLOR]" visible="true"/>
    </category>	
	<category label="Restore Build">
		<setting label="Local Zip" type="file" id="Local" value="path_to_files"/>
		<setting id="Build" type="text" label="Backup Url =" default="Enter Url Here" visible="true"/>
    </category>	
	<category label="Playlist Loader">
		<setting label="Local M3u" type="file" id="LocalM3u" value="path_to_files"/>
		<setting id="Remote" type="text" label="M3u Url =" default="Enter Url Here" visible="true"/>
    </category>	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"/>
        <setting id="message" type="bool" label="for messages" default="false" visible="false"/>
        <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
   	</category>	   	
</settings>