<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="GtV Login">
		<setting id="User" type="text" label="[COLORgreen]GenieTv User =[/COLOR]" default="insert_username" visible="true"/>
		<setting id="Pass" type="text" label="[COLORgreen]GenieTv Pass =[/COLOR]" default="insert_password" visible="true"/>
		<setting id="AdultPass" type="text" label="[COLORgreen]GenieTv AdultPass =[/COLOR]" default="insert_adultpass" visible="true"/>
    </category>	
	<category label="Restore Build">
		<setting label="Local Zip" type="file" id="Local" value="path_to_files"/>
		<setting id="Build" type="text" label="Backup Url =" default="Enter Url Here" visible="true"/>
    </category>	
	<category label="Main Menu">
        <setting id="Tidy" type="bool" label="Turn Me Off" default="true"/>
        <setting id="My Build" type="bool" label="My Build" default="false"/>
    	<setting id="Streams" type="bool" label="Streams" default="false"/>
    	<setting id="Music" type="bool" label="Music" default="false"/>
    	<setting id="Builders Toolbox" type="bool" label="Builders Toolbox" default="false"/>
    	<setting id="Source List" type="bool" label="Source List" default="false"/>
    	<setting id="Maintainance" type="bool" label="Maintainance" default="false"/>
    	<setting id="Addons" type="bool" label="Addons" default="false"/>
    	<setting id="APK Tool" type="bool" label="APK Tool" default="false"/>
    	<setting id="Rss Feed" type="bool" label="Rss Feed" default="false"/>
    	<setting id="Addons Packs" type="bool" label="Addons Packs" default="false"/>
    </category>	
	<category label="Streams Menu">
    	<setting id="Favourites" type="bool" label="Favourites" default="false"/>
    	<setting id="Search" type="bool" label="Search" default="false"/>
    	<setting id="G-tv" type="bool" label="G-tv" default="false"/>
    	<setting id="Popcorn Box" type="bool" label="Popcorn Box" default="false"/>
    	<setting id="Dizzy Tv" type="bool" label="Dizzy Tv" default="false"/>
    	<setting id="Watch Series" type="bool" label="Watch Series" default="false"/>
    	<setting id="Recent Episodes" type="bool" label="Recent Episodes" default="false"/>
    	<setting id="Scooby Streams" type="bool" label="Scooby Streams" default="false"/>
    	<setting id="The Reaper" type="bool" label="The Reaper" default="false"/>
    	<setting id="Pandoras Box" type="bool" label="Pandoras Box" default="false"/>
    	<setting id="HeroVision" type="bool" label="HeroVision" default="false"/>
    	<setting id="Silent Hunter" type="bool" label="Silent Hunter" default="false"/>
    	<setting id="Stand Up" type="bool" label="Stand Up" default="false"/>
    	<setting id="Football" type="bool" label="Football" default="false"/>
    	<setting id="Fitness" type="bool" label="Fitness" default="false"/>
    	<setting id="Documentaries" type="bool" label="Documentaries" default="false"/>
    	<setting id="Cartoons" type="bool" label="Cartoons" default="false"/>
    	<setting id="Anime" type="bool" label="Anime" default="false"/>
    	<setting id="M3u Streams" type="bool" label="M3u Streams" default="false"/>
    	<setting id="Playlist Loader" type="bool" label="Playlist Loader" default="false"/>
    </category>	
    <category label="Playlist Loader">
		<setting label="Local M3u" type="file" id="LocalM3u" value="path_to_files"/>
		<setting id="Remote" type="text" label="M3u Url =" default="Enter Url Here" visible="true"/>
    </category>	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"/>
        <setting id="message" type="bool" label="for messages" default="false" visible="false"/>
        <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
        <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
   	</category>	   	
</settings>